<div id="wrapper">
    <div class="jumbotron">
        <div class="titlebar">
            <h1>HANGRY</h1>
            <h2>food blog web scraper</h2>
        </div>
        <div class="hero-text">
            <h3>Hungry? Don't get angry.</h3>
            <small>See what people around the world are cooking! Click 'scrape' to retrieve articles!</small>
        </div>
        <button class="btn btn-danger" id="btn-scrape">
            SCRAPE
        </button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6">
                <div id="articles"></div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div id="notes"></div>
            </div>
        </div>
    </div>
</div>