<div id="wrapper">
    <h1>World of Food - blog scraper</h1>
    <h2>
        <p>Hungry? See what people around the world are cooking. Go to /scrape to load recipes into your database, then return here!</p>
    </h2>
    <div id="articles"></div>
    <div id="notes"></div>
</div>