<div id="wrapper">
    <h1>World of Food - blog scraper</h1>
    <h2>
        <p>Hungry? See what people around the world are cooking. Go to /scrape to load recipes into your database, then return
            here!</p>
    </h2>
    <button class="btn btn-danger" id="btn-scrape">
        SCRAPE
    </button>
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6">
                <div id="articles"></div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div id="notes"></div>
            </div>
        </div>
    </div>
</div>